<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<!-- ... -->
<div th:replace="/fragments/header.html :: fragment-header"></div>
<script src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src=""></script>
</head>
<body>
	  <div th:replace="/fragments/nav.html :: fragment-nav"></div>
	  <button onclick="grabLocation()">내 위치 가져오기</button>
	<input type="radio" name="fruit" checked="checked" value="주유소" onclick="selectOpt(event)"/> 주유소
	<input type="radio" name="fruit" value="충전소" onclick="selectOpt(event)"/> 충전소

	<div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3fe29b874b6f6fee4d56d12cd409cca6"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(37.2163928543, 127.3207687018),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
		function displayMyLocation(){
			if (navigator.geolocation) {
			    
			    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
			    navigator.geolocation.getCurrentPosition(function(position) {
			        
			        var lat = position.coords.latitude, // 위도
			            lon = position.coords.longitude; // 경도
			        
			        var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
			            message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
			        
			        // 마커와 인포윈도우를 표시합니다
			        displayMarker(locPosition, message);
			            
			      });
			    
			} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
			    
			    var locPosition = new kakao.maps.LatLng(37.2163928543, 127.3207687018),    
			        message = 'geolocation을 사용할수 없어요..'
			        
			    displayMarker(locPosition, message);
			}
			
		}

		// 지도에 마커와 인포윈도우를 표시하는 함수입니다
		function displayMarker(locPosition, message) {

		    // 마커를 생성합니다
		    var marker = new kakao.maps.Marker({  
		        map: map, 
		        position: locPosition
		    }); 
		    
		    var iwContent = message, // 인포윈도우에 표시할 내용
		        iwRemoveable = true;

		    // 인포윈도우를 생성합니다
		    var infowindow = new kakao.maps.InfoWindow({
		        content : iwContent,
		        removable : iwRemoveable
		    });
		    
		    // 인포윈도우를 마커위에 표시합니다 
		    infowindow.open(map, marker);
		    
		    // 지도 중심좌표를 접속위치로 변경합니다
		    map.setCenter(locPosition);      
		}    
		
		function grabLocation(){
			if(confirm("위치정보를 불러오려면 확인을 눌러주세요.")){
				displayMyLocation();
			}else{
				
			}
			
		}
/* 		$(function () {
		    var token = $("meta[name='_csrf']").attr("content");
		    var header = $("meta[name='_csrf_header']").attr("content");
		    $(document).ajaxSend(function(e, xhr, options) {
		        xhr.setRequestHeader(header, token);
		    });
		}); */
		var markers=[];
		function selectOpt(event){
			var checkValue = event.target.value;
			alert(checkValue);

			
			$.ajax({
				type:'GET',
				url:'/findMap/home/'+checkValue,
				data: JSON.stringify(checkValue),
		        contentType : "application/json; charset=UTF-8",
				success: function(data){
					alert(data.list.length);
					// 마커가 표시될 위치입니다  
					alert(markers.length);
					if(markers.length!=0){
						removeMarker();
					}
					for(var i = 0, len = data.list.length || 0 ; i<len;i++){
					
						var markerPosition  = new kakao.maps.LatLng(data.list[i].latitude,data.list[i].longitude); 
			
						// 마커를 생성합니다
						var marker = new kakao.maps.Marker({
						    position: markerPosition
						});
						markers.push(marker);
						// 마커가 지도 위에 표시되도록 설정합니다
						marker.setMap(map);
	
					}					
				},
				error : function(request,status,error){

					alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);

					}
			});
			
			
			
			
		}
		
		function removeMarker(){
			
			for(var i=0;i<markers.length;i++){
				markers[i].setMap(null);
			}
			markers = [];
		}
		
		
	</script>
	

	
</body>

</html>