<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="fragment-nav">

<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary" onclick="location.href='/board/list'">board</button>
  <button type="button" class="btn btn-outline-primary" onclick="location.href='/myPage/home'">myPage</button>
</div>
  </div>
</div>    	
<nav class="navbar navbar-dark bg-primary">

  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
<!--     	<span sec:authorize="isAuthenticated()" th:text="${session.user.email}">    </span>
 -->    	<span sec:authorize="isAuthenticated()" sec:authentication="name"></span>님이 로그인 상태 
	<div sec:authorize="isAuthenticated()">

	</div>
		<button sec:authorize="isAnonymous()" onclick="location.href='/member/login1'" type="submit">Login</button>
        <button sec:authorize="isAnonymous()" onclick="location.href='/member/signup'" type="submit">회원가입</button>
        <!-- <button sec:authorize="isAnonymous()" onclick="location.href='/oauth2/authorization/google'" type="submit">SocialLogin</button> -->
    </div>
        <form th:action="@{/view/logoutProc}" method="post" sec:authorize="isAuthenticated()">
        <!--  <input type="hidden" name="${ _csrf.parameterName }" value="${ _csrf.token }"> -->
        <button sec:authorize="isAuthenticated()" type="submit">Logout</button>
        </form>
    </div>
  
</nav>
</div>


</script>

</html>