<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<!-- ... -->
<script src="https://code.jquery.com/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="/fragments/header.html :: fragment-header"></div>
  <div th:replace="/fragments/nav.html :: fragment-nav"></div>

<div class="col-lg-6" style="text-align:center">
<table class="table">
  <thead>
    <tr>
      <th colspan="3" scope="col">
      <span th:text="${post.title}"></span>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
  <td colspan="1">
        글번호 : <span class="boardIdx" th:id="${post.idx}" th:text="${post.idx}" style="text-align:left;" ></span>
  </td>
  <td colspan="2">
  <div style="text-align:right">
 작성자 : <span th:text="${post.writer.nickname}"></span>&nbsp;&nbsp;&nbsp; <span th:text="${post.createdDate}"></span>
  </div>
  </td>
  </tr>
  
  <tr>
  <td colspan="3">
  <div th:if="${not #lists.isEmpty(post.fileList)}" >
  <label for="input-type-4">File</label>
  <div class="col-sm-10"> 
  <a th:each="row,status:${post.fileList}" th:href="@{/board/download(idx=${row.idx})}">
  <i aria-hidden="true"></i>
  [[${row.originalName}]]
  </a>
  </div>
   	 </div>

  </tr>
     
    <tr height="200">
      <td><span th:text="${post.content}"></span></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-lg-6">


<div style="float:left">
<a th:href="@{'/board/list?pageNum=0'}" type="button" class="btn btn-secondary">목록</a>
</div>
<div style="float:right">
<div sec:authorize="isAuthenticated()">
<button type="button" id="deleteBoard" class="btn btn-danger" onclick="delete_button()">삭제</button>
<button type="button" id="modi" class="btn btn-success" >수정</button>
</div>
</div>
</div>

<!-- 			<form id="operForm" role="form" th:object="${cri}" method="get" >
                         
                  <input th:field="*{pageNum}" type="hidden" class="form-control" th:value="${cri.pageNum}">
                  <input th:field="*{amount}" type="hidden" class="form-control" th:value="${cri.amount}">

            </form>
            
            <form id="operForm2" role="form" th:object="${board}" method="get">
                  <input th:field="*{idx}" type="hidden" class="form-control" th:value="${board.idx}">            	
            </form>
             -->

			<form id="operForm" role="form" method="get">
			<input id="idx" name="idx" type="hidden" th:value="${post.idx}">
			<input name="pageNum" type="hidden" th:value="0">
			<input name="amount" type="hidden" th:value="10">
			</form>
		
			<form id="operForm2" role="form" method="get">
			<input id="idx" name="idx" type="hidden" th:value="${post.idx}">
			</form>
			
			<div style="margin:60px 0px 0px 400px">

			</div>
			

	<div class="add-space">
	
	</div>

			<ul class="chat">
			</ul>
			


			
			<div class="pannel-footer">
			</div>
			
			
<!-- 			Comment Section
<div id="comment-section">
  <h2>댓글</h2>
  <div th:if="${#lists.isEmpty(post.comments)}">
    <p>등록된 댓글이 없습니다.</p>
  </div>
  <div th:unless="${#lists.isEmpty(post.comments)}">
    <div th:each="comment : ${post.comments}" class="comment-box">
      <div th:text="${comment.writer.username}"></div>
      <div>
      <span th:text="${comment.content}"></span>				
      <button th:id="${comment.idx}" class="comment-button">작성</button>      
      </div>

  댓글의 댓글 목록 
      <ul>
        <li th:each="childComment : ${comment.childComments}" class="comment-box">
            <div th:text="${comment.writer.username}"></div>
            <div th:text="${comment.content}"></div>
	      <button th:id="${comment.idx}" class="comment-button">작성</button>   
        </li>
      </ul>
      <div id="re-comment-form">
      
      </div>
    </div>
  </div> -->

<div id ="commentList">

</div>


  <div id="comment-form" >
    <form id="comment-form" method="post">
      <input type="hidden" id="post-id" value="${post.idx}" />
      <input type="hidden" id="parent-id" value="" />
      <div class="form-group">
        <textarea class="form-control" id="content" name="content" placeholder="댓글을 입력하세요" rows="3"></textarea>
      </div>
      <button id="comment-submit" type="submit" class="btn btn-primary" data-no="-1" >등록</button>
    </form>
  </div>



</body>



<script th:inline="javascript">




$(function () {
	 var postId = /*[[ ${post.idx} ]]*/;
  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");
  $(document).ajaxSend(function(e, xhr, options) {
      xhr.setRequestHeader(header, token);
  });
  
 
  
	var loginUserName = null;
	var loginUserEmail = null;
	var loginUserLongid = null;
 
	$.ajax({
		url: '/member/current',
		type: 'GET',
		success: function(user){
			loginUserName = user.username;
			loginUserEmail = user.email;
			loginUserLongid = user.id;
			console.log(loginUserName);
			console.log(loginUserEmail);
			console.log(loginUserLongid);
		},
		error: function(){
			console.log('로그인 상태가 아닙니다.');
		}
	});
	
	
  var boardEmail = /*[[${post.writer.email}]]*/

 

/*   $("#modi").on("click",function(e){
    if(boardEmail==loginUserEmail){
      $("#operForm").attr("action","/board/modify?").submit();
    } else {
      alert("본인이 작성한 글만 수정 할 수 있습니다.")
    }
  });
 */
 

 $(document).on("click", "#comment-submit", function(e){
	e.preventDefault();
	 console.log(loginUserName);
	 var no =$(this).attr('data-no');
	 var parentId = null;
	 var content = null;
	 	if(no==-1){
		    content = $('#content').val();
	 	}else{
		    parentId = no;
		    content = $('#content'+no).val();	 		
	 	}
	    var username = loginUserName ? loginUserName : 'anonymous';
	    $.ajax({
	      url: '/comment/add',
	      type: 'POST',
	      contentType: 'application/json; charset=UTF-8',
	      data: JSON.stringify({
	        postId: postId,
	        parentId: parentId,
	        content: content,
	        username: username,
	        userId: loginUserLongid
	      }),
	      success: function(response){
	        location.reload();
	      },
	      error: function(request,status,error){
	    	  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	    	  console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	      }
	    });

	 
 });
   
	  // GET 방식으로 댓글 목록을 받아오는 함수
	  function getComments() {
	    $.ajax({
	      type: "GET",
	      url: "/comment/"+postId,
	      data: {
	        postId: postId
	      },
	      success: function(data) {
	        // 댓글 목록을 출력하는 함수를 호출하여 데이터를 가공한 뒤 출력
	        printComments(data);
	      },
	      error: function(request,status,error) {
	    	  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	    	  console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	      }
	    });
	  }

	  function makeCommentHtml(comment) {
		    // 댓글 작성자와 내용을 출력
		    var html;
		    if(comment.groupNum!=null){
		    html = "<div class='comment-box comment-reply'>";
		    }else{
		    html = "<div class='comment-box'>";
		    }
		    html += "<div>"; 
		    html += "<span>" + comment.writer.username + "<span>"; 
		    html += "<span class='comment-date'>"; 
		    html += "<time datetime='" + comment.createDate + "'>" + new Date(comment.createDate).toLocaleString() + "</time>";  
		    html += "<span>";
		    html += "</div>";
		    html += "<span>" + comment.content + "</span>"
		    html += "<button type='button' class='comment-button reply_add' data-no='"+ comment.idx +"'>작성</button>";
		    html += "<div class='comment-form' data-parent-id='"+ comment.idx +"' style='display:none;'>";
		    html += "<form method='post'>";
		    html += "<div class='form-group'>";
		    html += "<textarea id='content"+comment.idx+"'class='form-control' name='content' placeholder='댓글을 입력하세요' rows='3'></textarea>";
		    html += "</div>";
		    html += "<button id='comment-submit' data-no='"+comment.idx+"' type='submit' class='btn btn-primary'>등록</button>";
		    html += "</form></div>";
		    html += "</div>";
		    return html;
		}

		// 댓글 목록을 출력하는 함수
		function printComments(comments) {
		    var html = "";
		    $.each(comments, function(index, comment) {
		        html += makeCommentHtml(comment);
		    });
		    $("#commentList").html(html);
		}

		$(document).on('click', '.reply_add', function(e) {
		    e.preventDefault();
		    var no = $(this).attr('data-no');
		    var form = $(this).siblings('.comment-form');
		    if (form.is(':visible')) {
		        form.hide();
		    } else {
		        $('.comment-form').hide();
		        form.show();
		        form.find('[name="parent_id"]').val(no);
		    }
		});
	  
	  
	  // 페이지가 로드되면 댓글 목록을 받아와서 출력
	  getComments();
	});




</script>

</html>