<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/fragments/header.html :: fragment-header"></div>
<script src="//code.jquery.com/jquery.min.js"></script>
</head>
<body>
  <div th:replace="/fragments/nav.html :: fragment-nav"></div>
<span th:text="${cri.pageNum}"></span>
<div class="col-lg-6" style="text-align:center">
<table class="table">
  <thead>
    <tr>
      <th colspan="3" scope="col">
      <span th:text="${board.title}"></span>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
  <td colspan="3">
  <div style="text-align:right">
  <span th:text="${board.writer}"></span>&nbsp;&nbsp;&nbsp; <span th:text="${board.regTime}"></span>
  </div>
  </td>
  </tr>
  
    <tr height="200">
      <td><span th:text="${board.content}"></span></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-lg-6">


<div style="float:left">
<a th:href="@{'/board/list?pageNum='+${cri.pageNum}}" type="button" class="btn btn-secondary">목록</a>
</div>
<div style="float:right">
<a th:href="@{'/board/remove?idx='+${board.idx}}" type="button" class="btn btn-danger">삭제</a>
<button type="button" id="modi" class="btn btn-success" >수정</button>
</div>
</div>

<!-- 			<form id="operForm" role="form" th:object="${cri}" method="get" >
                         
                  <input th:field="*{pageNum}" type="hidden" class="form-control" th:value="${cri.pageNum}">
                  <input th:field="*{amount}" type="hidden" class="form-control" th:value="${cri.amount}">

            </form>
            
            <form id="operForm2" role="form" th:object="${board}" method="get">
                  <input th:field="*{idx}" type="hidden" class="form-control" th:value="${board.idx}">            	
            </form>
             -->

			<form id="operForm" role="form" method="get">
			<input id="idx" name="idx" type="hidden" th:value="${board.idx}">
			<input name="pageNum" type="hidden" th:value="${cri.pageNum}">
			<input name="amount" type="hidden" th:value="${cri.amount}">
			</form>
            <script type="text/javascript">

        	var openForm = $("#openForm");
        	$("#modi").on("click",function(e){
        		$("#operForm").attr("action","/board/modify?").submit();
        	});
            </script>
</body>


</html>