<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="/fragments/header.html :: fragment-header"></div>
<script src="https://code.jquery.com/jquery.min.js"></script>
</head>
<body>
	  <div th:replace="/fragments/nav.html :: fragment-nav"></div>
	<table class="table">
  <thead class="table-light">
	<tr>
	<th scope="col">번호</th>
	<th scope="col">제목</th>
	<th scope="col">추천수</th>
	<th scope="col">작성자</th>
	<th scope="col">작성일자</th>
	</tr>
  </thead>
  <tbody>
	<tr th:if="${not #lists.isEmpty(boardList)}" th:each="row : ${boardList}">
	<td th:text="${row.idx}">	</td>
	<td> 
	<a th:href="@{'/board/get?pageNum='+${pageMaker.cri.pageNum}+'&idx='+${row.idx}}">
	<span th:text="${row.title}"></span>(<span th:text="${row.rnt}"></span>)</a>
	</td>
	<td th:text="${row.good}"></td>
	<td th:text="${row.writer}"></td>
	<td th:text="${row.regTime}">	</td>
	</tr>
	<tr th:unless="${not #lists.isEmpty(boardList)}">없습</tr>
  </tbody>
</table>


<form  th:attr="action=@{/board/list?}">
<select th:name="type" th:value="${pageMaker.cri.type}">
	<option th:value="'T'" th:selected="${pageMaker.cri.type}=='T'" th:text="제목"></option>
	<option th:value="'C'" th:selected="${pageMaker.cri.type}=='C'" th:text="내용"></option>
	<option th:value="'W'" th:selected="${pageMaker.cri.type}=='W'" th:text="작성자"></option>
	<option th:value="'TC'" th:selected="${pageMaker.cri.type}=='TC'" th:text="제목or내용"></option>
</select>
  <fieldset>
    <input type="text" name="keyword" th:value="${pageMaker.cri.keyword}" />
    <input type="submit" th:attr="value=확인"/>
    <input type="hidden" name="pageNum" th:value="1">
    <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
  </fieldset>
</form>






<a th:href="@{'/board/write'}" type="button" class="btn btn-primary" style="float:right">글쓰기</a>
<nav aria-label="...">
  <ul class="pagination justify-content-center">

    <li class="page-item" th:classappend="${pageMaker.prev==true ? '' : 'disabled'}">
    	<a class="page-link" th:href="@{/board/list(pageNum=${pageMaker.startPage-1},amount=${pageMaker.cri.amount},type=${pageMaker.cri.type},keyword=${pageMaker.cri.keyword})}">
Previous</a>
    </li>
    <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
    <li class="page-item" th:classappend="${pageMaker.cri.pageNum == num ? 'active':''}">
    <a class="page-link" th:href="@{/board/list(pageNum=${num},amount=${pageMaker.cri.amount},type=${pageMaker.cri.type},keyword=${pageMaker.cri.keyword})}"><text th:text="${num}">
    </a></li>
	</th:block>

    <li th:if="${pageMaker.next}" class="page-item" >
    	<a class="page-link" th:href="@{/board/list(pageNum=${pageMaker.endPage+1},amount=${pageMaker.cri.amount},type=${pageMaker.cri.type},keyword=${pageMaker.cri.keyword})}">
Next</a>
    </li>
  </ul>
</nav>
<div th:replace="/chat.html :: chatContent"></div>
</body>
<script th:inline="javascript">
    var msg = /*[[${msg}]]*/;
    
    if(msg === '삭제되었습니다.') {
        alert("삭제되었습니다.");
    }
</script>

</html>