<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardMapper">

<insert id="write">
insert into board values(board_seq.nextval,#{title},#{content},#{writer},sysdate,sysdate)
</insert>

<select id="get" resultType="com.board.domain.BoardVO">
select * from board where idx = #{idx}
</select>

<select id="getList" resultType="com.board.domain.BoardVO">
<![CDATA[
select idx,title,content,writer,reg_time,update_time from 
(
select /*+index_desc(board board_pk) */ rownum rn,idx,title,content,writer,reg_time,update_time from board 
where
rownum<=#{pageNum}*#{amount} 
) where 
rn>(#{pageNum}-1)*#{amount}
]]>
</select>

<update id="modify">
update board set title=#{title}, content=#{content}, update_time=sysdate where idx=#{idx}
</update>

<select id="getTotalCount" resultType="int">
select count(*) from board
</select>

<delete id="remove">
delete from board where idx=#{idx}
</delete>
</mapper>