<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardMapper">

<select id="boardRatingCheck" resultType="int">
select count(*) from rating where idx=#{idx} and writer=#{writer}
</select>

<insert id="chooseRating">
insert into rating values(#{idx},#{writer},#{choose})
</insert>

<update id="boardRatingGood">
update board set good = good + 1 where idx=#{idx}
</update>

<update id="boardRatingHate">
update board set hate = hate + 1 where idx=#{idx} 
</update>

<update id="updateReplyCnt">
update board set rnt = rnt + #{amount} where idx=#{idx}
</update>


<insert id="write">
insert into board(idx,title,content,writer,reg_time,update_time,rnt,email) values(board_seq.nextval,#{title},#{content},#{writer},sysdate,sysdate,0,#{email})
</insert>

<select id="get" resultType="com.board.domain.BoardVO">
select * from board where idx = #{idx}
</select>

<select id="getList" resultType="com.board.domain.BoardVO">
<![CDATA[
select idx,title,content,writer,reg_time,update_time,rnt,good,email from 
(
select /*+index_desc(board board_pk) */ rownum rn,idx,title,content,writer,reg_time,update_time,rnt,good,email from board 
where
 
]]>
<include refid="criteria"></include>
<![CDATA[
rownum<=#{pageNum}*#{amount} 
) where
rn>(#{pageNum}-1)*#{amount}
]]>
</select>

<update id="modify">
update board set title=#{title}, content=#{content}, update_time=sysdate where idx=#{idx}
</update>

<update id="rntcal">
update board set rnt=rnt+#{amount} where idx=#{idx}
</update>

<select id="getTotalCount" resultType="int">
select count(*) from board where
<include refid="criteria"></include> idx>0
</select>

<delete id="remove">
delete from board where idx=#{idx}
</delete>

<sql id="criteria">
<trim prefix="(" suffix=") AND">
<foreach item="type" collection="typeArr" separator="OR">
<if test="type=='T'.toString()">title like '%' ||#{keyword}||'%'</if>
<if test="type=='C'.toString()">content like '%' ||#{keyword}||'%'</if>
<if test="type=='W'.toString()">writer like '%' ||#{keyword}||'%'</if>
</foreach>
</trim>
</sql>

</mapper>