<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.LoanMapper">

<select id="getDataList" resultType="com.board.domain.LoanDTO">
select * from loan
</select>

<insert id="insertdata" >
insert into loan(totalno,curno,principal,rate,curprincipal,curprincipalpayment,curinterestpayment) values (#{totalno},0,#{principal},#{rate},#{principal},0,0)
</insert>

</mapper>