<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.StoreMapper">

<select id="StoreInfo" resultType="com.board.domain.store.Store">
select * from opendata where store_sectors like '%' || #{storesectors} || '%'
</select>

</mapper>
